@using EntityLayer.DTOs
@model UserForDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="inner-sec">
    <div class="login p-5 bg-light mx-auto mw-100">
        @using (Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Yazar İsmi</label>
                    @Html.TextBoxFor(x=> x.Username,new{@class="form-control", @id="validationCustom01"})
                    @* <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">*@
                    @Html.ValidationMessageFor(x=> x.Username,"",new{@class="alert-danger"})
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Writer Email</label>
                    @Html.TextBoxFor(x=> x.UserMail,new{@class="form-control", @id="validationCustom02",@type="email"})
                    @*<input type="text" class="form-control" id="validationDefault02" placeholder="" required="">*@
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1 mb-2">Şifre</label>
                    @Html.TextBoxFor(x=> x.UserPassowrd,new{@class="form-control", @id="exampleInputPassword1",@type="password"})
                    @*  <input type="password" class="form-control" id="password1" placeholder="" required="">*@
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword2 mb-2">Şifreyi Onayla</label>
                    @Html.TextBoxFor(x=> x.UserPasswordConfimation,new{@class="form-control", @id="exampleInputPassword1",@type="password"})
                    @*  <input type="password" class="form-control" id="password2" placeholder="" required="">*@
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputImage mb-2">Görsel</label>
                    @Html.TextBoxFor(x=> x.UserImage,new{@class="form-control", @id="exampleInputImage",@type="text"})
                    @*  <input type="password" class="form-control" id="password2" placeholder="" required="">*@
                </div>
                
            </div>
            
           <button type="submit" onclick="onClick(ViewBag.Success)" class="btn btn-success submit" style="margin-top:0.5rem">Register</button>
            <p>
                <br>
                <a href="#">By clicking Signup, I agree to your terms</a>
            </p>
        }
        
        @if (ViewBag.Success!=null)
        {
            <p>kayıt işlemi başarılı</p>
        }
    </div>
</div>

<script>
    function onClick(success){
        if(success){
            swal("Good job!", "You clicked the button!", "success");
        }else{
            
        }   
    }
</script>